body {
    font-family: "Poppins", sans-serif;
    padding: 0%;
    margin: 0;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 10%;
    height: 74px;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
}

.menu {
    display: flex;
}

.menu a {
    margin-left: 10px;
}

.menu a img {
    height: 24px;
}

.banner {
    background: linear-gradient(to left, rgba(0, 0, 255, 0.253), rgba(0, 0, 255, 0.154)),
        linear-gradient(to right, rgba(0, 255, 0, 0), rgba(8, 230, 8, 0.589)),
        url(../media/bg.png) no-repeat center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 65vh;
    position: relative;
    opacity: 0.8;
    display: flex;
    text-align: center;
    display: flex;
}

.banner div {
    text-align: center;
    max-width: 600px;
}

.banner h1 {
    text-align: center;
    font-size: 32px;
    width: 100%;
    color: white;
    margin: 20px auto;
}

.banner p {
    text-align: center;
    font-size: 16px;
    width: 65%;
    color: white;
    margin: 20px auto;
}

.banner .button {
    background-color: rgb(0, 183, 255);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    margin: 10px auto;
}

.banner .button:hover {
    background-color: #11111194;
    border: none;
}

.option {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.option p {
    font-size: 22px;
}

.option select {
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    width: 200px;
}

.content {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}

.games-list {
    display: flex;
    max-width: 95%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.game-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 350px;
    margin: 25px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.game-card-content {
    text-align: center;
}

.game-card-image-container {
    position: relative;
}

.overlay {
    position: absolute;
    width: 65px;
    bottom: 10px;
    left: 15px;
    background-color: #c1e1ff;
    padding: 8px;
    border-radius: 30px;
}

.genre {
    margin: 0;
    font-size: 14px;
}

.game-card-image {
    margin-top: 10px;
    width: 95%;
    object-fit: cover;
    border-radius: 8px;
}

.description {
    padding: 10px;
    text-align: left;
    margin: 5px;
    display: flex;
    flex-direction: column;
    color: #373b59;
    max-width: fit-content;
}

.description>.game-title {
    margin: 0;
    font-size: 18px;
}

.description>.game-description {
    margin: 0;
    font-size: 14px;
}

.release {
    border-top: 1px solid #ecf0f8;
    padding: 10px;
    margin: 5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    color: #a0a7b9;
    gap: 80px;
}

.release h4 {
    margin-top: 5px;
    color: #000;
    font-weight: normal;
}

@media screen and (max-width: 768px) {

    .banner>div {
        font-size: 1em;
    }

    .menu.active {
        display: block;
    }

    .navbar {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .banner h1 {
        font-size: 24px;
    }

    .banner p {
        font-size: 14px;
    }

    .button-area {
        text-align: center;
    }

    .option select {
        width: 100%;
    }

    .game-card {
        width: 100%;
        margin: 20px 0;
    }
}